#additional{
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    margin: 0 auto;
}
.addTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
}
.addDesc{
    display: flex;
    flex-direction: column;
    margin: 0.4rem;
    padding: 1.5rem 2rem;
    border-radius: 0.75rem;
    background: rgb(50, 50, 50);
}

.addDesc ul {
    text-align: left;
}
.addDesc ul li{
    list-style: square;
    cursor: pointer;
}
.addDesc ul li:hover{
    list-style:decimal;
}

.addDesc ul li span{
    color: yellow;
}
@media screen and (max-width:840px){
    #additional{
        width: 130vw;
    }
    
}
@media screen and (max-width:500px){
    
    #additional{
        width: 160vw;
    }
    .addTitle{
        font-size: 2rem;
    }
    .addDesc{
        font-size: 0.6rem;
    }
    .addDesc ul li {
        font-size: 0.7rem;
    }
    
}